<body style="background-color: #FFFFBF;">
  <h1 style="background-color: Lightblue;">Transferencias del comite</h1>
  <p>Aqui podras consultar las tablas de pago de servicios.</p>
  <table border="1">
  <tr>
    <th>Nombre del habitante</th>
    <th>
	<div>telefono</div>
	<div>Agua</div>
	<div>Luz</div>
    <th>Pendiente</th>
    <th>Estado</th>
    <th>Fecha limite</th>
  </tr>
 <tr>
    <td>Juan</td>
    <td>
	<div>telefono</div>
	<div>Agua</div>
	<div>Luz</div>
    </td>
    <td>
	<div>0</div>
	<div>300</div>
	<div>500</div>
    </td>
<td>
	<div>Pagado</div>
	<div>Pendiente</div>
	<div>Por pagar</div>
    </td>
<td>
	<div>20-Sep-2025</div>
	<div>21-Sep-2025</div>
	<div>22-Sep-2025</div>
</tr>
<tr>
    <td>Regina</td>
    <td>
	<div>telefono</div>
	<div>Agua</div>
	<div>Luz</div>
    </td>
    <td>
	<div>100</div>
	<div>0</div>
	<div>200</div>
    </td>
<td>
	<div>Pendiente</div>
	<div>Pagado</div>
	<div>Por pagar</div>
    </td>
<td>
	<div>28-Sep-2025</div>
	<div>25-Sep-2025</div>
	<div>29-Sep-2025</div>
</tr>

</table>
<p>Aqui podras consultar la tabla de los ingresos</p>
<table border="1">
  <tr>
    <th> </th>
  <th>Remesas</th>
  <th>Transferencia</th>
  <th>Deposito de efectivo</th>
  <th>Donaciones</th>
  </tr>
  <tr>
   <td>Payhub Enero 2025</td>
   <td>10,000</td>
   <td>30,000</td>
   <td>25,000</td>
   <td>5,000</td>
</tr>
  <tr>
   <td>Payhub Febrero 2025</td>
   <td>15,000</td>
   <td>33,000</td>
   <td>6,000</td>
   <td>14,000</td>
</table>
<p>Aqui podras consultar la tabla de los egresos</p>
<table border="1">
  <tr>
    <th> </th>
  <th>Habitantes</th>
  <th>Pago de servicios</th>
  <th>Comunidad</th>
  <th>Otros</th>
  </tr>
  <tr>
   <td>Payhub Enero 2025</td>
   <td>30,000</td>
   <td>25,000</td>
   <td>10,000</td>
   <td>5,000</td>
</tr>
  <tr>
   <td>Payhub Febrero 2025</td>
   <td>33,000</td>
   <td>15,000</td>
   <td>14,000</td>
   <td>6,000</td>
</table>
<p>Aqui podras consultar la tabla de los egresos de los habitantes (Privado)</p>
<table border="1">
  <tr>
    <th>Enero</th>
  <th>Pago a:</th>
  <th>La cantidad de:</th>
  <th>Por motivo de:</th>
  <th>Fecha:</th>
  </tr>
  <tr>
   <td>Payhub</td>
   <td>Alonso</td>
   <td>20,000</td>
   <td>Remesa</td>
   <td>10 De Enero del 2025</td>
</tr>
  <tr>
   <td>Payhub</td>
   <td>Miguel</td>
   <td>10,000</td>
   <td>Transferencia familiar</td>
   <td>12 De Enero del 2025</td>
</table>
<table border="1">
  <tr>
    <th>Febrero</th>
  <th>Pago a:</th>
  <th>La cantidad de:</th>
  <th>Por motivo de:</th>
  <th>Fecha:</th>
  </tr>
  <tr>
   <td>Payhub</td>
   <td>Alonso</td>
   <td>8,000</td>
   <td>Transferencia familiar</td>
   <td>20 De Febrero del 2025</td>
</tr>
  <tr>
   <td>Payhub</td>
   <td>Miguel</td>
   <td>25,000</td>
   <td>Remesa</td>
   <td>15 De Febrero del 2025</td>
</table>