<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PayHub</title>
    </head>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            background-color: #c9c9c9
        }
        .transferences {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            background-color: #ff8800be;
            align-items: center;
        }
    </style>
    <body>
        <div class="transferences">
            <h1>Transference</h1>
            <input id="walletName" type="text" placeholder="Wallet Address Name" style="width: 80%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 3px;"><br>
            <input id="name" type="text" placeholder="Name" style="width: 80%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 3px;"><br>
            <input id="quantity" type="quantity" placeholder="Quantity" style="width: 80%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 3px;"><br>
            <input id="message" type="text" placeholder="Message" style="width: 80%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 3px;"><br>
            <button id="payBTN" style="width: 30%; padding: 10px; background-color: #804809be; color: white; border: none; border-radius: 3px; cursor: pointer;">Pay with Open Payments</button>
        </div>

        <script>
            document.getElementById("payBTN").addEventListener("click", async () => {
            const walletName = document.getElementById("walletName").value;
            const amount = parseFloat(document.getElementById("quantity").value);

            // Llamar al backend
            const response = await fetch("/api/create-payment", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ walletName, amount })
            });

            const data = await response.json();
            alert("Incoming Payment Created! URL: " + data.incomingPaymentUrl);
            });
        </script>
    </body>
</html>